<template data-comments-target="replyFormTemplate">
  <%= turbo_frame_tag "reply_form" do %>
    <%= form_with model: [post, Comment.new], class: "space-y-2 reply-form hidden" do |f| %>
      <%= f.hidden_field :reply_to_id %>
      <div>
        <%= f.text_area :content, class: "w-full h-auto bg-gray-700 text-white p-2 rounded-lg resize-none", placeholder: "Write a reply..." %>
      </div>
      <div class="flex justify-end items-center space-x-2">
        <%= f.submit "Reply", class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg mb-4" %>
        <button type="button" data-action="click->comments#cancelReply" class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg mb-4">Cancel</button>
      </div>
    <% end %>
  <% end %>
</template>
