<% if @comment.reply_to_id.present? %>

  <%= turbo_stream.append "replies_for_#{@comment.reply_to_id}" do %>
    <%= render partial: "comments/comment", locals: { comment: @comment } %>
  <% end %>

  <%= turbo_stream.replace "reply_form_container_#{@comment.reply_to_id}" do %>
    <div id="reply_form_container_<%= @comment.reply_to_id %>"></div>
  <% end %>
<% else %>

  <%= turbo_stream.prepend "post_#{@post.id}_comments" do %>
    <%= render partial: "comments/comment", locals: { comment: @comment } %>
  <% end %>

  <%= turbo_stream.replace "post_comment_form" do %>
    <%= render partial: "comments/form", locals: { post: @post, comment: Comment.new } %>
  <% end %>
<% end %>

<%= render partial: "comments/comment_count", locals: { post: @post } %>

<%= render partial: "layouts/flash" %>
