<div id="<%= dom_id(follow, :follow_request) %>" class="flex items-center justify-between bg-gray-800 p-3 rounded-md">
  <div class="flex items-center space-x-3">
    <%= link_to user_path(follow.follower), class: "flex items-center space-x-3" do %>
      <%= image_tag follow.follower.profile.profile_picture.url, class: "h-10 w-10 rounded-full" %>
      <span class="font-bold text-white"><%= follow.follower.username %></span>
    <% end %>
  </div>

  <div class="flex items-center space-x-2">
    <%= button_to accept_follow_request_user_path(follow.follower), method: :post, remote: true,
          class: "bg-blue-500 text-white px-3 py-1 rounded-md font-semibold hover:bg-blue-600 transition duration-300" do %>
      Accept
    <% end %>
    <%= button_to reject_follow_request_user_path(follow.follower), method: :post, remote: true,
          class: "bg-red-500 text-white px-3 py-1 rounded-md font-semibold hover:bg-red-600 transition duration-300" do %>
      Decline
    <% end %>
  </div>
</div>
