<div class="bg-gray-800 text-white p-4 rounded-lg">
  <%= render "profiles/banner", user: post.creator%>
  <div class="mb-4 w-full h-80 flex items-center justify-center bg-gray-700 rounded-lg overflow-hidden">
    <%= render "posts/content", post: post %>
  </div>

  <div class="mb-4">
    <%= truncate(post.description, length: 100) %>
    <% if post.description.length > 100 %>
      <%= link_to "Read more", "#", data: { action: "click->read-more#toggle", target: "read-more.content" }, class: "text-blue-500" %>
      <span data-read-more-target="content" class="hidden"><%= post.description %></span>
    <% end %>
  </div>

  <div class="flex justify-between items-center">
    <%= render 'likes/like_button', likeable: post, size: "24x24" %>

    <%= turbo_frame_tag "post_#{post.id}_comment_count" do %>
      <%= pluralize(post.comments_count, 'comment') %>
    <%end %>

    <div class="flex space-x-2">
      <%= link_to 'Show', post, class: "text-blue-500" %>
      <% if current_user==post.creator%>

        <%= link_to 'Edit', edit_post_path(post), class: "text-blue-500" %>
        <%= link_to 'Destroy', post, data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "text-red-500" %>
      <% end %>
    </div>
  </div>

</div>