<% if user_signed_in? %>
  <div class="w-full flex justify-between items-center px-4">

    <%= link_to root_path, class: "hover:text-indigo-800 px-3 py-1 rounded" do %>
      <%= raw File.read(Rails.root.join( 'public', 'icon.svg')).gsub('<svg ', '<svg class="h-10 w-10 rounded-full" ') %>
    <% end %>

    <div class="flex items-center space-x-4">
      <%= link_to user_path(current_user), class: "hover:text-indigo-800 px-3 py-1 rounded" do %>
        <%= image_tag current_user.profile.profile_picture_url, alt: "Profile Picture", class: "h-8 w-8 rounded-full" %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "hover:text-indigo-800 px-3 py-1 rounded flex items-center" do %>
        <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'logout.svg')).gsub('<svg ', '<svg class="h-7 w-7" ') %>
      <% end %>
    </div>
  </div>
<% end %>
